VITE_BACKEND_BASE_URL=

VITE_NFT_CONTRACT_ADDRESS_LOCAL=0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512
VITE_NFT_CONTRACT_ADDRESS_MATIC_MUMBAI=

VITE_AUCTION_CONTRACT_ADDRESS_LOCAL=0xCf7Ed3AccA5a467e9e704C703E8D87F634fB0Fc9
VITE_AUCTION_CONTRACT_ADDRESS_MATIC_MUMBAI=